
body{
  background-color: rgb(25,25,25);
}

.main{
   padding-top:130px; 
  margin-inline:15px;

}

  .container{
display: flex;
background-color: rgb(181, 46, 46);
 position:relative;
 width: 90vmin;
 transform:translate(-50%, -50%);
 bottom:-60px;
 left:50%;
 overflow: hidden;
 border:20px solid black;
 border-radius:8px;
 max-height:180px ;

} 

.wrapper{
width:100%;
display:flex;
animation:slide 18s infinite;
margin: auto;
height: auto;
}

.wrapper img{
  width:100%;
  height:auto;
  margin-inline:40px;
  object-fit: cover;
}

@keyframes slide {
  0%{
    transform:translateX(0);
  }
  25%{
    transform:translateX(0);
  }
  30%{
    transform:translateX(-100%);
  }
  50%{
    transform:translate(-100%);
  }
   75%{
    transform:translate(-200%);
  } 
 85%{
  transform:translate(-315%);
  } 
  100%{transform: translate(1%);
  } 
}

.product-grid{ 
  display:grid;
  grid-template-columns: repeat(7, 1fr);
  column-gap:5px;
  row-gap: 7px;
}

.product-container{
  line-height: 18px;
  display:flex;
  flex-direction: column;
  padding-block:5px;
  padding-inline:20px;
  width:205px;
  height: 350px;
  box-shadow:0px 4px 8px 0px rgb(199, 180, 180)
   ,0 4px 4px 0 rgb(237, 222, 222);
  border-radius:12px;
  z-index: 70;
}

.image-container{
  padding-top:5px;
  display:flex;
  max-width: 150px;
  flex-direction:column;
  justify-content: center;
  align-items: center;
  height: 160px;
}

.product-image{
  width:100%;
  height:auto;
  object-fit: cover;
}

.product-image:hover{
  transform: scaleY(90%);
  transition:0.5s
}

.product-name{
margin-bottom:8px;
color:antiquewhite;
}

.price-container{
  display:flex;
  flex-flow: row;

}

.product-price{
  color:antiquewhite;
  flex-flow: row;

}

.old-price{
  text-decoration:line-through;
  color:antiquewhite;
  float: right;
  bottom:18px;
  right:44px;
  position:relative
}

.rating-stars{
width:100px;
margin-bottom: 2px;

}
.product-rating-container{
  position:relative;
  bottom:11px;
}
.product-rating-count{
  position:absolute;
  bottom:4px;
  left:110px;
  margin-top:20px;
  color:antiquewhite;
}

.units-left{
  color:red;
  margin-top: -12px;
  
}
.toggle-container{
  display:flex;
  justify-items:center;
  align-items:center;
  gap: 25px;
  opacity:0;
}

.decrease-btn,.increase-btn{
  padding-inline:15px;
  padding-block:2px;
  font-weight:700;
  margin-bottom: 6px;
  border-radius: 6px;
  background-color:rgb(236, 137, 7);
  border:none;
  box-shadow:0px 4px 0px 0px rgb(236,137,7);
}

.decrease-btn:active{
  background-color: red;
  transform: scaleY(90%);
}

.increase-btn:active{
  background-color: green;
  transform: scaleY(90%);
}


.shop-chant{
  
  font-weight: 500;
  color:palevioletred;
  font-style:oblique;
  padding-left: 6px;
}


.add-to-cart-btn{
  background-color:rgb(236, 137, 7);
  padding:8px;
  color:white;
  border-radius:24px;
  transition:0.5s;
  border:none;
}

.add-to-cart-btn:active{
  background-color:green;
}


