
*{
  box-sizing: border-box;
  margin:0;
  padding:0;
}

body{
  font-family:Arial, Helvetica, sans-serif;
}

.u-shop-header{
  height:80px;
  padding-right:30px;
  padding-left:30px;  
  align-items: center;
  position:fixed;
  z-index:100;
  top:0;
  right:0;
  left:0;
  display:flex;
  flex-flow:row;
  column-gap: 10px;
  justify-content:space-evenly;
  background-color: rgb(19, 25, 33);
   color:white; 
}

.header-left{
  display:flex;
  width:150px;
  padding-left:30px;
}

.header-left-link{
text-decoration: none;
cursor: pointer;
}

.u-shop-logo{
  margin-left: 50px;
  font-weight:600px;
  text-decoration: none;
  width:100%;
  color:rgb(236, 137, 7);
  text-shadow:0 4px 3px  rgb(165, 97, 9)
}

.mobile-logo{
  display:none;
  padding:10px;
  color:rgb(236, 137, 7);
  
}

@media(max-width:800px){
  .u-shop-logo{
    display:none;
  }

  .mobile-logo{
    display:block;
    height:35px;
    margin-right:5px;
  }

}

.header-middle{
  height:45px;;
  display:flex;
  flex:1 1;
  position:relative;
  background-color: white;
  border-radius:50% ;
  margin-right:27px;
}

.search-icon{
  width:30px;
  height:30px;
  margin:10px 10px 15px 20px;
}

.added-to-cart-message{
  position: relative;
  color:red;
  display:none;
  z-index: 1001;
}

.input-search{
  min-inline-size:40px ;
  padding-left:6px;
  width:0;
  display:flex;
  flex:1 1 auto;
  border:none;
  font-size:18px;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
}

.input-search:focus{
  outline:none;
}

.btn-search-icon{
  border:none;
  padding-bottom: 10px;
  background-color:white;
  border-top-left-radius:50px ;
  border-bottom-left-radius:50px;
}

.header-right{
  width:3rem;
  margin-right: 40px;
  margin-left: 20px;
  display:flex;
  flex-shrink:0 ;
  justify-content: space-between;
  justify-content:flex-end;
  position:relative;
  
} 

.cart-link{
  text-decoration: none;
  cursor:pointer;
}

.cart-logo{
  width:60px;
  padding-left:10px;

}

.cart-quantity{
  position:absolute;
  top:-4px;
  right:-16px;
  color:white;
  background-color:rgb(236, 137, 7);
  border-radius:50%;
  font-weight: 700;
  font-size:18px;
  width:30px;
  text-align: center;
} 

.user-icon{
  position:relative;
  right:65px;
  left:6px;
  background-color: beige;
  border-radius:50%;
}

.cart-container{
  width:50px;
  padding-right:10px;
}


 