*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}



body{
  background-color:rgb(25,25,25);
  font-size:18px;
}

.main{
   margin:10px 30px 60px 30px;
}

/* Style rules for the slide animation */
.slide-container{
  display:flex;
  position: relative;
  background-color: black;
  width: 90vmin;  
  max-height:200px;
  transform:translate(-50%);
  left:50%;
  right: 50%;
  overflow:hidden ;
  border:20px solid black;
  border-radius:8px;
  margin-top:84px;
  gap:30px;
} 

#slider-image{ 
  width:100%;
  height:100%;
  object-fit:contain;
  animation:slider 18s infinite
}

@keyframes slider {
  0%{
    transform:translateX(0);
  }
  25%{
    transform:translateX(0);
  }
  30%{
    transform:translateX(-100%);
  }
  50%{
    transform:translate(-100%);
  }
   75%{
    transform:translate(-200%);
  } 
 85%{
  transform:translate(-315%);
  } 
  100%{transform: translate(1%);
  } 
} 


.marquee{
  color:red;
  font-size:24px;
  font-weight: 700;
  text-shadow:0px 4px 4px purple;
}
/* style rules for slide animation stops*/

/*media query for responsiveness*/
.product-grid{ 
  display:grid;
  column-gap:5px;
  row-gap: 13px; 
  grid-template-columns:repeat(8, 1fr);

}

@media (max-width:2000px){
 .product-grid{
   grid-template-columns:repeat(7, 1fr); 

 }
}

@media (max-width:1500px){
 .product-grid{
   grid-template-columns:repeat(6, 1fr); 

 }
}

@media (max-width:1300px){
  .product-grid{
    grid-template-columns:repeat(5, 1fr); 
  }
  
}

@media (max-width:1000px){
  .product-grid{
    grid-template-columns:repeat(4, 1fr) ;
  } 
   
}

@media (max-width:800px){
  .product-grid{
    grid-template-columns:repeat(3, 1fr) ;
  } 
   
}


@media (max-width:500px){
  .product-grid{
    grid-template-columns:2fr;
    
  }
  
} 

@media (max-width:450px){
  .product-grid{
    grid-template-columns:1fr;
  }

  .image-container{
    margin:10px auto;
  }
  .old-price{
    position:relative;
    left:-50px;
    top:-20px;
  }

} 

/*General style rules for product container*/
.product-container{
  display:flex;
  line-height: 20px;
  flex-direction: column; 
  padding-block:10px;
  padding-inline:25px;
  box-shadow:0px 4px 8px 0px rgb(199, 180, 180)
   ,0 4px 4px 0 rgb(237, 222, 222);
  border-radius:12px;
  z-index: 70;
}

.image-container{
  padding-top:5px;
  display:flex;
  max-width:160px;
  flex-direction:column;
  justify-content: center;
  align-items: center;
  height: 160px;
  align-items: center;
}

.product-image{
  max-width:100%;
  max-height: 100%;
  object-fit: cover;
}

.product-image:hover{
  transform: scaleY(90%);
  transition:0.5s
}

.product-name{
margin-bottom:8px;
color:antiquewhite;
}

.product-price{
  color:antiquewhite;

}

.old-price{
  text-decoration:line-through;
  color:antiquewhite;
  float: right;
  bottom:20px;
  right:5px;
  position:relative
}

.rating-stars{
width:100px;
margin-bottom: 2px;

}

.product-rating-container{
  position:relative;
  bottom:11px;
}

.product-rating-count{
  position:absolute;
  bottom:4px;
  left:110px;
  margin-top:20px;
  color:antiquewhite;
}

.units-left{
  color:red;
  margin-top: -12px;
  margin-bottom:6px;
  
}
.toggle-container{
  display:flex;
  justify-items:center;
  align-items:center;
  gap: 25px;
  opacity:0;
}

.decrease-btn,.increase-btn{
  padding-inline:15px;
  padding-block:2px;
  font-weight:700;
  margin-bottom: 6px;
  border-radius: 6px;
  background-color:rgb(236, 137, 7);
  border:none;
  box-shadow:0px 4px 0px 0px rgb(236,137,7);
}

.decrease-btn:active{
  background-color: red;
  transform: scaleY(90%);
}

.increase-btn:active{
  background-color: green;
  transform: scaleY(90%);
}

.update{
  color:white;
  font-weight: 700;
}

.shop-chant{
  font-weight: 500;
  color:palevioletred;
  font-style:oblique;
  padding-left: 6px;
}


.add-to-cart-btn{
  background-color:rgb(236, 137, 7);
  padding:8px;
  color:white;
  border-radius:24px;
  transition:0.5s;
  border:none;
  font-size:17px;
  font-weight:500;
}

.add-to-cart-btn:active{
  background-color:green;
}

/* Style rules for preloader*/
#preloader{
  background:#000 url();
  position:fixed;
  width:100%;
  height:100vh;
  z-index: 100;
  top:0;
  justify-content: center;
}

#spinner{
  width:100px;
  height:100px;
  position:absolute;
  border:15px solid purple;
  border-top:15px solid red;
  border-radius:50%;
  top:50%;
  left:50%;
  animation: spin 0.5s infinite linear
}

@keyframes spin{
  0%{
    transform:rotate(0deg) scale(0%)
  }

  100%{
    transform:rotate(360deg) scale(90%)
  }
}

/* Style rules for footer*/
.footer{
  background-color:rgba(128, 0, 128, 0.5); 
  color:white; 
  text-align:center;
  padding-bottom:50px;
  line-height:30px;
  padding-top: 10px;
}

.footer-grid{
  display:grid;
  grid-template-columns:repeat(2,1fr);
  gap:30px;
  margin-bottom: 10px ; 
}

span{
  color:red;
  font-size:20px ;
}